<style>
  .style_image {
    padding: 2px 2px 2px 2px;
    border: 1px solid #ccc;
  }
</style>
<h1>New Atrraction</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@attraction, url: attraction_edit_path(@attraction.id), html: { method: 'put' }) do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.fields_for @attraction do |att_photo| %>
              <%= att_photo.label :photo, t("attraction.attraction_photo"), class: "col-md-2 control-label" %>
              <div class="col-md-10">
                <%= att_photo.file_field :photo, class: "form-control", multiple: true, name: "attraction_photos[photo][]" %>
              </div>
          <% end %>
        </div>

        <div class="form-group">
          <% @attraction.attraction_photos.each do |attraction_photo| %>
              <%= image_tag attraction_photo.photo.thumb.url, style: "border: 1px solid #ccc; padding: 2px 2px 2px 2px;" %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :longitude, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_field :longitude, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :latitude, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_field :latitude, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :category_id, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= collection_select(:attraction, :category_id, Category.all, :id, :name, {}, { class: 'form-control' }) %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :address, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :phone, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "修改", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>