<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

    <%= image_tag attraction.attraction_photos.sample(1).first.photo.thumb.url %>
    
    <div class="caption">
      <h3><%= attraction.name %></h3>
      <p>phone: <%= attraction.phone %></p>
      <p>address: <%= attraction.address %></p>
      <p>category: <%= attraction.category.name %></p>
      <p>created by: <%= attraction.user.name %></p>
      <p>
        <%= link_to '收藏', "/attraction/favorite/#{attraction.id}", class: 'btn btn-primary favorite' ,remote: true, method: :post %>
      </p>
    </div>
  </div>
</div>
