<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p><a href="<%= attraction_user_path(@user) %>">景點數：  <%= @user.attractions.count %></a></p>
      <p><a href="<%= favorite_user_path(@user) %>">收藏景點數：  <%= @user.attraction_relationships.count %></a></p>
    </section>
  </aside>

  <aside class="col-md-8">
    <%= render 'attraction', user_attractions: @user_attractions, type: 'favorite' %>
  </aside>

</div>