<h1>Categories index</h1>

<div class="table-responsive">
  <table class="table table-condensed table-striped table-hover">
    <thead>
    <th>#</th>
    <th>Name</th>
    <th>Created_at</th>
    <th>Modified_at</th>
    <th>Created by</th>
    <th>Method</th
    </thead>

    <tbody>
    <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= category.name %></td>
          <td><%= time_ago_in_words(category.created_at) %></td>
          <td><%= time_ago_in_words(category.updated_at) %></td>
          <td><%= category.user.name %></td>
          <td>
            <%= link_to 'Delete',
                        category_destroy_path(category.id),
                        method: :delete,
                        data: {confirm: '確定刪除?'},
                        class: 'btn btn-danger' %>

            <%= link_to 'Edit',
                        category_path(category.id),
                        class: 'btn btn-primary' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


  <%= will_paginate %>
</div>